body{
  background: url("bg3.png");
}
ul:first-child {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(255, 0, 0, 0.4);
}

li {
  border-right: 1px solid #bbb;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.intro{
  background: rgba(255, 0, 0, 0.4);
  color: white;
  text-align: center;

}
.obj,.edu,.skills,.exp,.act{
  color: white;
  margin-left: 45px;
  margin-right: 45px;
}
h1{
  color: #f22805;
}
